In [7]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:/Users/Hp/Desktop/Data Science/hamoye.csv", encoding = "latin-1")

In [8]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [12]:
df['Y2017'].mean()

140.9177648602722

In [37]:
df['Y2017'].std()

1671.8623590567995

In [15]:
df['Area'].nunique()

49

In [26]:
df[(df['Area'] == 'Madagascar')& (df['Element'] == 'Protein supply quantity (g/capita/day)')].sum()

Area Code                                                   14319
Area            MadagascarMadagascarMadagascarMadagascarMadaga...
Item Code                                                  299405
Item            Grand TotalVegetal ProductsAnimal ProductsCere...
Element Code                                                74814
Element         Protein supply quantity (g/capita/day)Protein ...
Unit            g/capita/dayg/capita/dayg/capita/dayg/capita/d...
Y2014                                                      177.79
Y2015                                                      173.05
Y2016                                                       173.4
Y2017                                                      175.75
Y2018                                                      176.64
dtype: object

In [29]:
df['Y2014'].isnull().sum()

1589

In [63]:
wine_df = df[df['Item'] == 'Wine']
wine_df.groupby('Item')[['Y2015','Y2018']].sum()

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [81]:
df.groupby('Area')[['Y2017','Area']].sum().sort_values(by='Y2017',ascending=False)

,Y2017,Area
Area,,
Nigeria,1483268.23,NigeriaNigeriaNigeriaNigeriaNigeriaNigeriaNige...
Egypt,866379.92,EgyptEgyptEgyptEgyptEgyptEgyptEgyptEgyptEgyptE...
South Africa,517590.54,South AfricaSouth AfricaSouth AfricaSouth Afri...
Ethiopia,448683.76,EthiopiaEthiopiaEthiopiaEthiopiaEthiopiaEthiop...
Morocco,388495.36,MoroccoMoroccoMoroccoMoroccoMoroccoMoroccoMoro...
Ghana,337599.06,GhanaGhanaGhanaGhanaGhanaGhanaGhanaGhanaGhanaG...
Algeria,325644.27,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
United Republic of Tanzania,322616.85,United Republic of TanzaniaUnited Republic of ...
Kenya,264660.66,KenyaKenyaKenyaKenyaKenyaKenyaKenyaKenyaKenyaK...
Sudan,239931.92,SudanSudanSudanSudanSudanSudanSudanSudanSudanS...
Cameroon,232030.43,CameroonCameroonCameroonCameroonCameroonCamero...
Angola,229159.57,AngolaAngolaAngolaAngolaAngolaAngolaAngolaAngo...
Côte d'Ivoire,224599.01,Côte d'IvoireCôte d'IvoireCôte d'IvoireCôte d'...
Uganda,213950.38,UgandaUgandaUgandaUgandaUgandaUgandaUgandaUgan...
Malawi,181098.71,MalawiMalawiMalawiMalawiMalawiMalawiMalawiMala...
Mozambique,161407.98,MozambiqueMozambiqueMozambiqueMozambiqueMozamb...
Mauritania,156665.46,MauritaniaMauritaniaMauritaniaMauritaniaMaurit...
Mali,149928.33,MaliMaliMaliMaliMaliMaliMaliMaliMaliMaliMaliMa...
Madagascar,131197.73,MadagascarMadagascarMadagascarMadagascarMadaga...
Niger,126707.58,NigerNigerNigerNigerNigerNigerNigerNigerNigerN...
Benin,124771.22,BeninBeninBeninBeninBeninBeninBeninBeninBeninB...
Tunisia,124167.20,TunisiaTunisiaTunisiaTunisiaTunisiaTunisiaTuni...
Zambia,103223.77,ZambiaZambiaZambiaZambiaZambiaZambiaZambiaZamb...
Burkina Faso,101855.07,Burkina FasoBurkina FasoBurkina FasoBurkina Fa...
Guinea,98138.87,GuineaGuineaGuineaGuineaGuineaGuineaGuineaGuin...
Senegal,95681.15,SenegalSenegalSenegalSenegalSenegalSenegalSene...
Zimbabwe,75919.34,ZimbabweZimbabweZimbabweZimbabweZimbabweZimbab...
Rwanda,73663.69,RwandaRwandaRwandaRwandaRwandaRwandaRwandaRwan...
Chad,71594.68,ChadChadChadChadChadChadChadChadChadChadChadCh...
Sierra Leone,55311.33,Sierra LeoneSierra LeoneSierra LeoneSierra Leo...
Eswatini,54343.33,EswatiniEswatiniEswatiniEswatiniEswatiniEswati...
Mauritius,51114.83,MauritiusMauritiusMauritiusMauritiusMauritiusM...
Togo,49841.88,TogoTogoTogoTogoTogoTogoTogoTogoTogoTogoTogoTo...
Congo,41181.68,CongoCongoCongoCongoCongoCongoCongoCongoCongoC...
Central African Republic,29937.00,Central African RepublicCentral African Republ...
Namibia,29874.89,NamibiaNamibiaNamibiaNamibiaNamibiaNamibiaNami...
Liberia,29342.20,LiberiaLiberiaLiberiaLiberiaLiberiaLiberiaLibe...
Gabon,27979.64,GabonGabonGabonGabonGabonGabonGabonGabonGabonG...
Gambia,23154.18,GambiaGambiaGambiaGambiaGambiaGambiaGambiaGamb...
Djibouti,22729.91,DjiboutiDjiboutiDjiboutiDjiboutiDjiboutiDjibou...
Botswana,22101.30,BotswanaBotswanaBotswanaBotswanaBotswanaBotswa...
Lesotho,21267.96,LesothoLesothoLesothoLesothoLesothoLesothoLeso...
Guinea-Bissau,19102.77,Guinea-BissauGuinea-BissauGuinea-BissauGuinea-...
Cabo Verde,14650.74,Cabo VerdeCabo VerdeCabo VerdeCabo VerdeCabo V...
Sao Tome and Principe,12662.63,Sao Tome and PrincipeSao Tome and PrincipeSao ...
Seychelles,442.34,SeychellesSeychellesSeychellesSeychellesSeyche...
Comoros,59.84,ComorosComorosComorosComorosComorosComorosComo...
Sudan (former),0.00,Sudan (former)Sudan (former)Sudan (former)Suda...
Ethiopia PDR,0.00,Ethiopia PDREthiopia PDREthiopia PDREthiopia P...

In [82]:
df.groupby('Area')[['Y2017','Area']].sum().sort_values(by='Y2017',ascending=True)

,Y2017,Area
Area,,
Sudan (former),0.00,Sudan (former)Sudan (former)Sudan (former)Suda...
Ethiopia PDR,0.00,Ethiopia PDREthiopia PDREthiopia PDREthiopia P...
Comoros,59.84,ComorosComorosComorosComorosComorosComorosComo...
Seychelles,442.34,SeychellesSeychellesSeychellesSeychellesSeyche...
Sao Tome and Principe,12662.63,Sao Tome and PrincipeSao Tome and PrincipeSao ...
Cabo Verde,14650.74,Cabo VerdeCabo VerdeCabo VerdeCabo VerdeCabo V...
Guinea-Bissau,19102.77,Guinea-BissauGuinea-BissauGuinea-BissauGuinea-...
Lesotho,21267.96,LesothoLesothoLesothoLesothoLesothoLesothoLeso...
Botswana,22101.30,BotswanaBotswanaBotswanaBotswanaBotswanaBotswa...
Djibouti,22729.91,DjiboutiDjiboutiDjiboutiDjiboutiDjiboutiDjibou...
Gambia,23154.18,GambiaGambiaGambiaGambiaGambiaGambiaGambiaGamb...
Gabon,27979.64,GabonGabonGabonGabonGabonGabonGabonGabonGabonG...
Liberia,29342.20,LiberiaLiberiaLiberiaLiberiaLiberiaLiberiaLibe...
Namibia,29874.89,NamibiaNamibiaNamibiaNamibiaNamibiaNamibiaNami...
Central African Republic,29937.00,Central African RepublicCentral African Republ...
Congo,41181.68,CongoCongoCongoCongoCongoCongoCongoCongoCongoC...
Togo,49841.88,TogoTogoTogoTogoTogoTogoTogoTogoTogoTogoTogoTo...
Mauritius,51114.83,MauritiusMauritiusMauritiusMauritiusMauritiusM...
Eswatini,54343.33,EswatiniEswatiniEswatiniEswatiniEswatiniEswati...
Sierra Leone,55311.33,Sierra LeoneSierra LeoneSierra LeoneSierra Leo...
Chad,71594.68,ChadChadChadChadChadChadChadChadChadChadChadCh...
Rwanda,73663.69,RwandaRwandaRwandaRwandaRwandaRwandaRwandaRwan...
Zimbabwe,75919.34,ZimbabweZimbabweZimbabweZimbabweZimbabweZimbab...
Senegal,95681.15,SenegalSenegalSenegalSenegalSenegalSenegalSene...
Guinea,98138.87,GuineaGuineaGuineaGuineaGuineaGuineaGuineaGuin...
Burkina Faso,101855.07,Burkina FasoBurkina FasoBurkina FasoBurkina Fa...
Zambia,103223.77,ZambiaZambiaZambiaZambiaZambiaZambiaZambiaZamb...
Tunisia,124167.20,TunisiaTunisiaTunisiaTunisiaTunisiaTunisiaTuni...
Benin,124771.22,BeninBeninBeninBeninBeninBeninBeninBeninBeninB...
Niger,126707.58,NigerNigerNigerNigerNigerNigerNigerNigerNigerN...
Madagascar,131197.73,MadagascarMadagascarMadagascarMadagascarMadaga...
Mali,149928.33,MaliMaliMaliMaliMaliMaliMaliMaliMaliMaliMaliMa...
Mauritania,156665.46,MauritaniaMauritaniaMauritaniaMauritaniaMaurit...
Mozambique,161407.98,MozambiqueMozambiqueMozambiqueMozambiqueMozamb...
Malawi,181098.71,MalawiMalawiMalawiMalawiMalawiMalawiMalawiMala...
Uganda,213950.38,UgandaUgandaUgandaUgandaUgandaUgandaUgandaUgan...
Côte d'Ivoire,224599.01,Côte d'IvoireCôte d'IvoireCôte d'IvoireCôte d'...
Angola,229159.57,AngolaAngolaAngolaAngolaAngolaAngolaAngolaAngo...
Cameroon,232030.43,CameroonCameroonCameroonCameroonCameroonCamero...
Sudan,239931.92,SudanSudanSudanSudanSudanSudanSudanSudanSudanS...
Kenya,264660.66,KenyaKenyaKenyaKenyaKenyaKenyaKenyaKenyaKenyaK...
United Republic of Tanzania,322616.85,United Republic of TanzaniaUnited Republic of ...
Algeria,325644.27,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Ghana,337599.06,GhanaGhanaGhanaGhanaGhanaGhanaGhanaGhanaGhanaG...
Morocco,388495.36,MoroccoMoroccoMoroccoMoroccoMoroccoMoroccoMoro...
Ethiopia,448683.76,EthiopiaEthiopiaEthiopiaEthiopiaEthiopiaEthiop...
South Africa,517590.54,South AfricaSouth AfricaSouth AfricaSouth Afri...
Egypt,866379.92,EgyptEgyptEgyptEgyptEgyptEgyptEgyptEgyptEgyptE...
Nigeria,1483268.23,NigeriaNigeriaNigeriaNigeriaNigeriaNigeriaNige...

In [97]:
stock_variation_df = df[df['Element'] == 'Stock Variation']
stock_sum = stock_variation_df.groupby('Element').sum()
stock_sum

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Stock Variation,571566,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,11329527,Cereals - Excluding BeerWheat and productsRice...,21464704,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,58749.83,34910.99,33140.12,54316.91,20577.91

In [98]:
sp_df = df[df['Element'] == 'Processing']
sp_sum = sp_df.groupby('Element').sum()
sp_sum

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Processing,271940,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,5350416,Cereals - Excluding BeerWheat and productsRice...,10313310,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,282923.0,287929.0,280631.0,292836.0,308429.0